/*
Theme Name: woocom-ct
Author: jns
Description: woocom child theme
Requires at least: 6.8
Tested up to: 6.8
Requires PHP: 7.4
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: twentytwentyfive
Text Domain: woocom-ct
*/

/* Safety: hide default Woo sorting / result count everywhere */
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count, .wp-block-woocommerce-customer-account  {
    display: none !important;
}